html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, 
a, abbr, address, big, cite, em, img, small, strong, i, dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figure, figcaption, footer, header, nav, section, time, audio, video {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure,
footer, header, nav, section {
    display: block;
}
ol,ul { list-style: none; }
a { text-decoration: none; color: inherit; }
body { font:12px/1.6; color: #888; }
.clear:after { content:"";display:block;clear:both }
button {border: none;background: none;}
.visual_text p {overflow: hidden;box-sizing: border-box;}
.visual_text p.on {padding: 0px}

@media screen and (max-width:800px) {
/*    nav*/
.gnb .inner nav a:nth-child(2) {text-decoration: underline}
#visual {background: url(../img/manu/m/visual_bg.jpg)  center bottom; height: 270px;margin-bottom:40px;padding-top: 57px;}
.visual_text {text-align: center;padding-top: 100px;color: #fff}
.visual_text p {height: 45px;padding-top: 45px;transition: padding 0.8s 0.5s;margin-bottom: 5px}
.visual_text .N_20 {height: 24px;padding-top: 24px;}

/*    main*/
#main .sub_menu {width: 90%;margin: 0 auto 30px}
#main .sub_menu>li {float: left;width: 33%}
#main .sub_menu>li a {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    width: 100%;line-height: 35px;
    letter-spacing: 1.5;
    box-sizing: border-box;
    border: 1px solid #393939;
    border-right: 0px
}
#main .sub_menu>li:last-child{border-right: 1px solid #393939}
#main .sub_menu>li a.on {background: #000;color: #fff;}

/*    scene03*/
#scene03 .inner_s {background-color: #efefef;padding: 0 25px;box-sizing: border-box;margin-bottom: 50px}
#scene03 .inner_s>* {float: left;padding-right: 60px;line-height: 45px}
#scene03 .inner_s h2 {color: #2d2d2d; background: url(../img/manu/menu_text.jpg) no-repeat 95px 50%;}
#scene03 .inner_s p {font-size: 15px;color: #888;font-weight: normal;}

/*scene04 시작*/
#scene04 {margin-bottom: 50px;}
    #scene04 .inner_s{width: 100%;display: flex;flex-wrap: wrap;}
#scene04 .inner_s>li {margin-bottom: 90px;width: 40%;max-width: 350px;margin:0 5% 40px ;}

#scene04 .inner_s>li img {width: 100%;margin-bottom: 24px;}
#scene04 .inner_s>li p {text-align: center;}
#scene04 .inner_s>li .title {margin-bottom: 10px;font-size: 16.5px;color: #333;font-weight: bold;}
#scene04 .inner_s>li .sub_text {margin-bottom: 27px;font-size: 14.5px;font-weight: normal;color: #6f6f6f;line-height: 1.6}
#scene04 .inner_s>li span {font-size: 13px;color: #646464;background: #eaeaea;font-weight: bold;padding: 4px 27px;border-radius: 100px;}
}

@media screen and (min-width:801px) {
/*visual*/
#visual {background: url(../img/manu/visual_bg.jpg)  center bottom; height: 455px;margin-bottom: 95px;padding-top: 178px}
#visual .inner {padding: 167px 0 0 15px;}
.visual_text {color: #fff;}
.visual_text p {height: 57px;padding-top: 57px;transition: padding 0.8s 0.5s}
.visual_text .N_20 {margin-top: 5px;height: 24px;padding-top: 24px;transition: padding 0.8s 0.5s}
.visual_text .N_20:after {content: "";width: 230px;height: 1px;background: #fff;display: inline-block;margin: 0 0 6px 10px;}


/*main*/
#main {margin-bottom: 85px;}
#main .sub_menu{width: 888px;margin: 0 auto;}
#main .sub_menu>li {float: left;}
#main .sub_menu>li a {text-align: center;font-family: 'Raleway', sans-serif;color: #000000;font-weight: 600;font-size: 14px;display: inline-block;width: 294px;line-height: 40px;letter-spacing: 1.5;box-sizing: border-box;border: 1px solid #393939;border-right: 0px}
#main .sub_menu>li:last-child{border-right: 1px solid #393939}
#main .sub_menu>li a.on {background: #000;color: #fff;}
#main .sub_menu>li a:hover {text-decoration: underline;}
/*scene03 시작*/
#scene03 {margin-bottom: 75px;
}
#scene03 .inner_s {background-color: #efefef;padding: 0 25px;box-sizing: border-box}
#scene03 .inner_s>* {float: left;padding-right: 85px;line-height: 45px}
#scene03 .inner_s h2 {color: #2d2d2d; background: url(../img/manu/menu_text.jpg) no-repeat 110px 50%;}
#scene03 .inner_s p {font-size: 15px;color: #888;font-weight: normal;}
/*scene04 시작*/
#scene04 {
    margin-bottom: 150px;
}
    #scene04 .inner_s{width: 1100px;display: flex;flex-wrap: wrap;}
#scene04 .inner_s>li {margin-bottom: 90px;width: 254px;margin-right: 28px;}
#scene04 .inner_s>li:nth-child(4n+0){margin-right: 0;}
#scene04 .inner_s>li img {margin-bottom: 24px;}
#scene04 .inner_s>li p {text-align: center;}
#scene04 .inner_s>li .title {margin-bottom: 10px;font-size: 16.5px;color: #333;font-weight: bold;}
#scene04 .inner_s>li .sub_text {margin-bottom: 27px;font-size: 14.5px;font-weight: normal;color: #6f6f6f;line-height: 1.6}
#scene04 .inner_s>li span {font-size: 13px;color: #646464;background: #eaeaea;font-weight: bold;padding: 4px 27px;border-radius: 100px;}
}
@import url('https://fonts.googleapis.com/css?family=Raleway:300,600,800|Heebo:900|Source+Sans+Pro');
/*font*/
.N_17 {font-size: 17.5px;}
.N_19 {font-size: 19px;}
.N_20 {font-size: 20px;font-weight: normal}
.N_23 {font-size: 23px;}
.N_28 {font-size: 25px;}
.N_30 {font-size: 46.5px;color: #333;}

.H_40 {font-family: 'Heebo', sans-serif;font-size: 40px;}
.H_45 {font-family: 'Heebo', sans-serif;font-size: 45px;}
.R_45 {font-family: 'Raleway', sans-serif;font-size: 45px;}
.R_49 {font-family: 'Raleway', sans-serif;font-size: 49px;}
.R_29 {font-family: 'Raleway', sans-serif;font-weight: 300;font-size: 29px;letter-spacing: 1.5px;color: #555;}

@media screen and (max-width:800px) {
.N_17 {font-size: 17.5px;}
.N_20 {font-size: 19px;font-weight: normal}
.N_30 {font-size: 35px;color: #333;}
.N_19 {font-size: 17px;}
.N_28 {font-size: 21px;}

.R_49 {font-family: 'Raleway', sans-serif;font-size: 38px;}
.R_29 {font-family: 'Raleway', sans-serif;font-weight: 300;font-size: 28px;letter-spacing: 1.5px;color: #555;}
}
.N_17,.N_20,N_28,.N_23,.N_19 {line-height: 1.5;letter-spacing: -0.8px}
.R_45, .H_45, .R_45, .R_49 {font-weight: 800;letter-spacing: 1px}

/*common*/
body {font-family: 'NanumSquare', sans-serif;font-weight: bold;font-size: 16.5px}
#skip-nav {position: fixed; background: #000;left: 20px;top: -40px;}
#skip-nav:focus {top: 0;}
