@charset 'utf-8';

//임시 week
.page-weekbanner {
  header {
  height: 120px;
  background-color: rgb(116, 116, 116);
  }
  main {
    .red-banner, .blue-banner {
      display: none;
      height: 80px;
      background-color: rgb(255, 81, 81);
      &.is-show {
        display: block;
      }
    }
    .blue-banner {
      background-color: rgb(89, 89, 255);
    }
    .content {
      width: 1100px;
      height: 900px;
      padding: 50px 0;
      margin: 0 auto;
      background-color: lavenderblush;
      .image-change {
        width: 710px;
        margin: 0 auto;
        padding: 0;
        font-size: 0;
        li {
          display: inline-block;
          position: relative;
          width: 230px;
          height: 150px;
          margin-bottom: 10px;
          margin-right: 10px;
          overflow: hidden;
          text-align: center;
          img {
            height: 100%;
          }
          &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 5;
          }
          &:nth-child(3n) {
            margin-right: 0;
          }
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: 1100px;
            background-repeat: no-repeat;
            background-position: 0 0;
            z-index: 3;
            transition: all 0.3s;
          }
          &:nth-child(2):before {
            background-position: -240px 0;
          }
          &:nth-child(3):before {
            background-position: -480px 0;
          }
          &:nth-child(4):before {
            background-position: 0 -160px;
          }
          &:nth-child(5):before {
            background-position: -240px -160px;
          }
          &:nth-child(6):before {
            background-position: -480px -160px;
          }
          &:nth-child(7):before {
            background-position: 0 -320px;
          }
          &:nth-child(8):before {
            background-position: -240px -320px;
          }
          &:nth-child(9):before {
            background-position: -480px -320px;
          }
          &:nth-child(10):before {
            background-position: 0 -480px;
          }
          &:nth-child(11):before {
            background-position: -240px -480px;
          }
          &:nth-child(12):before {
            background-position: -480px -480px;
          }
        }
      }
    }
    .scroll-action {
      div {
        height: 500px;
        &.blue {background-color: rgb(89, 89, 255);}
        &.yel {background: yellowgreen;}
        &.gre {background: green;}
        &.pin {background: indianred;}
      }
    }
    .change-text {
      background-color: #fff;
    }
    .down-star {
      position: relative;
      height: 100vh;
      background-color: rgb(7, 0, 34);
      overflow: hidden;
      .addStar {
        background-color: #fff;
      }
      .star {
        position: absolute;
      }
    }
    // 시계
    .view-time {
      background: linear-gradient(rgb(253, 194, 194),rgb(179, 214, 255));
      .time-inner {
        position: relative;
        width: 250px;
        height: 250px;
        padding-top: 150px;
        margin: 0 auto;
        p {
          position: absolute;
          left: 30px;
          top: 50%;
          transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
        }
        .lg {
          position: absolute;
          left: 50%;
          top: calc(50% - 125px);
          width: 1px;
          height: 125px;
          background-color: rgb(255, 144, 144);
          transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform-origin: center 120px;
        }
        .md {
          position: absolute;
          left: 50%;
          top: calc(50% - 90px);
          width: 5px;
          height: 90px;
          border-radius: 100px;
          background-color: #fff;
          transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform-origin: center 85px;
        }
        .sm {
          position: absolute;
          left: 50%;
          top: calc(50% - 60px);
          width: 5px;
          height: 60px;
          border-radius: 100px;
          background-color: #fff;
          transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform-origin: center 55px;
        }
      }
    }
    /* 모션슬라이드*/
    .movie-slide {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      &:after, &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        z-index: 999;
        width: 102.5px;
        height: 560px;
        background-color: rgba(0, 0, 0, 0.6);
      }
      &:after {
        left: 0;
      }
      &:before {
        right: 0;
      }
      .visual-slick {
        width: 100%;
        overflow: hidden;
        .visual-slide {
          position: relative;
          width: 995px;
          height: 560px;
          float: left;
          text-align: center;
          video {
            width: 100%;
          }
          & .text-group {
            position: absolute;
            left: 50%;
            top: 50%;
            text-align: center;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            .desc {
              font-size: 9px;
            }
          }
        }
      }
      .slick-dots {
        font-size: 0;
        > li {
          display: inline-block;
          width: calc(100%/4);
          box-sizing:border-box;
          border: 1px solid rgb(148, 148, 148);
          text-align: center;
          & + li {
            border-left: none;
          }
          //slider indi on
          &.slick-active {
            background: rgb(148, 148, 148);
            color: #fff;
          }
          button {
            display:block;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
          }
        }
      }
      // slider bar
      .slick-progress {
        .slick-progress-bar {
          width: 0;
          height: 2px;
          background: rgb(120, 156, 128);
          &.is-active {
            animation: proBar 4s 1;
          }
        }
      }
      &:hover .slick-progress .slick-progress-bar{
        animation-play-state: paused;
      }

      // play/stop 버튼
      .visual-btn {
        bottom : 50px;
      }
    }
  }
  footer {
    height: 30px;
    background-color: gray;
  }
}

@keyframes proBar{
  0%{width:0;}
  100%{width:100%;}
}